*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/settings.gradle
/gradle.properties
/app/proguard-rules.pro
/gradle/wrapper/gradle-wrapper.properties
/app/build.gradle
/build.gradle
/app/src/test/java/com/example/dortislemkotlin/ExampleUnitTest.kt
/app/src/androidTest/java/com/example/dortislemkotlin/ExampleInstrumentedTest.kt
/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/app/src/main/res/mipmap-mdpi/ic_launcher.png
/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/app/src/main/res/mipmap-hdpi/ic_launcher.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/app/src/main/res/drawable/
/app/src/main/res/drawable-v24/
/app/src/main/AndroidManifest.xml
